<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="{% static '/employee.css' %}">
</head>

<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Live Lead Data Count</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">

            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>

        </section>
        
        <section class="table__body">
            <table>
                <thead> 
                    <tr>
                        <th> NAME <span class="icon-arrow">&UpArrow;</span></th>
                        <th> DOB <span class="icon-arrow">&UpArrow;</span></th>
                        <th> CONTACT <span class="icon-arrow">&UpArrow;</span></th>
                        <th> DEPARTMENT <span class="icon-arrow">&UpArrow;</span></th>
                        <th> EMPLOYEE ID <span class="icon-arrow">&UpArrow;</span></th>
                        <th> ADDRESS <span class="icon-arrow">&UpArrow;</span></th>
                        <th> BLOOD GROUP <span class="icon-arrow">&UpArrow;</span></th>
                        
                                  <!-- Example buttons -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in data %}
                        <tr class="table-active">
                            <td>{{i.name}}</td>
                            <td>{{i.dob}}</td>
                            <td>{{i.contact}}</td>
                            <td>{{i.role}}</td>
                            <td>{{i.id}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.blood_group}}</td>
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="script.js"></script>

</body>

</html>